@import '../../../scss/media_breakpoints';

.language-switcher {
  top: 0;
  left: 50%;
  height: 100%;
  position: absolute;
  transform: translateX(-50%);

  @include media-breakpoint-down(md) {
    left: 0;
    top: 50%;
    height: 50px;
    transform: translateX(0);
  }

}