@import '../../../scss/media_breakpoints';

.header {
  &-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background: var(--red);
    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: 100px;
    }
  }
}