.card-item {
  margin: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  flex-direction: column;

  &_description {
    top: 0;
    z-index: 2;
    width: 95%;
    height: 100%;
    display: flex;
    padding: 0 20px;
    position: absolute;
    flex-direction: column;
    background: var(--transparent-black-30);

    h4 {
      color: var(--white);
      margin-bottom: auto;
    }

    p {
      font-size: 14px;
      margin-top: auto;
      color: var(--white);
    }

  }

  &_image {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    transform: scale(1.2);
  }

}