@import "scss/normalize";
@import "scss/constants";

body {
  background: var(--white);
  font-family: Helvetica,Arial,freesans,sans-serif;
}

.loading {
  left: 50%;
  top: 50%;
  margin: 0 auto;
  display: block;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}